/* from secondary pages to main page */
.enter {
  content: 'backwards';
  opacity: 0;
  transform: translate3d(-100vw, 0, 0);
}

.enter.enterActive {
  content: 'backwards';
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 500ms ease-in-out,
    transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.exit {
  content: 'backwards';
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.exit.exitActive {
  content: 'backwards';
  opacity: 0;
  transform: translate3d(40vw, 0, 0);
  transition: opacity 400ms ease-in-out,
    transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
